.Container{
    background-color:black;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex: 1 0 auto;
        padding-left: 30rem;
        padding-right: 30rem;
        padding-bottom: 3rem;

}

.Container > div {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    background-color: black;
  }

.display{
    background-color: black;
    width: 100%;
    height: 10rem;
    color: white;
    text-align: right;
    justify-content: end;
}
.display > div {
    background-color: black;
    font-size: 2.5rem;
    padding-left: 30rem;
    padding-right: 30rem;
    padding-top: 6.5rem;
    text-align:end
  }